.container {
    border-radius: 20px;
    padding: 25px 0px 25px 0px;
    /* background-color: #FFFFFF; */
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 132.6%);
    border: 1px solid rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 200px;
    z-index: 1001;
    /* Add the blur effect */
    backdrop-filter: blur(8px);
}

.topSec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #8A8A8A;
    padding: 0px 25px;
}

.totalPrice {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

.hrLine {
    width: 100%;
    border-bottom: 1px solid #F0EDF3;
    margin: 20px 0px;
}

.shippingTex {
    font-size: 12px;
    font-weight: 500;
    color: #FF4343;
    line-height: 21px;
    margin: 20px 0px;
    padding: 0px 25px;
}

.bottomSec {
    font-size: 12px;
    font-weight: 400;
    color: #747474;
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    padding: 0px 25px;
}

.saveBtn {
    width: 90%;
    margin: 0px auto 0px auto;
}
.itemContainer {}

.itemTopSec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.imageCon {}

.textCon {
    margin-left: 10px;
}

.title {
    font-size: 12px;
    font-weight: 600;
}

.desc {
    font-size: 12px;
    font-weight: 400;
    color: #545454;
    margin-top: 8px;
}

.itemBottomSec {
    display: flex;
    padding-top: 20px;
}

.emptyDiv {
    width: 60px;
}

.counterBtn {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.deletCon {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.deleteIcon {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 2.4px 9.6px rgba(186, 186, 186, 0.25));
}

.deleteIcon:hover {
    cursor: pointer;
    background-color: rgba(224, 224, 224, 0.58)
}

.totalItemContainer {
    min-height: 200px;
    max-height: 500px;
    overflow-y: auto;
    width: 100%;
    /* border: 1px solid red; */
    padding: 0px 25px 0px 25px;
}

.totalItemContainer::-webkit-scrollbar {
    width: 2px;
}

.totalItemContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.totalItemContainer::-webkit-scrollbar-thumb {
    background-color: #6200EE;
}

@media screen and (max-width: 900px) {
    .container {
        position: relative;
        top: 0px;
    }
}