.container {
    padding: 25px;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 10px;
}

.headSec {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
}

.imageCon {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.textCon {
    /* width: 70%; */
    padding: 0% 0% 0% 20px;
    min-height: 200px;
    position: relative;
    width: 100%;
}

.topText {
    font-size: 22px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 20px;
}

.bottomText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 15px;
}

.iconTextCon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.iconIcon {
    color: #6200EE;
}

.iconsText {
    font-size: 12px;
    font-weight: 400;
}

.detailsSec {
    font-size: 13px;
    font-weight: 400;
    line-height: 22.5px;
    color: #545454;
    max-height: 300px;
    overflow-y: auto;
    padding: 0px 20px 80px 20px;
    /* border: 1px solid red; */
}

.detailsShadow {
    width: 100%;
    height: 110px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 89%);
    /* border: 1px solid red; */
    margin-bottom: 50px;
}

@media screen and (max-width: 650px) {
    .detailsShadow {
        height: 110px;
        margin-bottom: 30px;

    }
}


.containerListing::-webkit-scrollbar,
.detailsSec::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.containerListing::-webkit-scrollbar-track,
.detailsSec::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.containerListing::-webkit-scrollbar-thumb,
.detailsSec::-webkit-scrollbar-thumb {
    background-color: #6200EE;
}

.containerListing {
    width: 100%;
    max-height: 120px;
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    /* overflow-x: hidden; */

}

.containerListingPadding {
    padding-bottom: 70px;
}

.contactShadow {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 89%);
    /* border: 2px solid red; */
    margin-bottom: -30px;
}

.containerListing table {
    border-collapse: collapse;
    border-spacing: 0 50px;
    width: 100%;
}

.containerListing table tbody tr {}

.containerListing table tbody tr td {
    text-align: left;
    padding: 8px 5px;
}


.thirdRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    width: 200px;
}

.thirdRow:hover {
    cursor: pointer;
}

.thirdRow .title {
    font-size: 13px;
    font-weight: 500;
    color: #6200EE;
}


/* Modal styles */
.inventoryModalContainer {
    max-height: 500px;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #545454;
    margin-top: 10px;
    padding-left: 10px;
}


.inventoryModalContainer::-webkit-scrollbar {
    width: 2px;
}

.inventoryModalContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.inventoryModalContainer::-webkit-scrollbar-thumb {
    background-color: #6200EE;
}

.forMobile {
    display: none;
    border-collapse: collapse;
    width: 100%;
}

.address_field .iconField {
    color: #6200EE;
    font-size: 18px;
}

.address_field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(237, 237, 237);

}

.address_field_text {
    opacity: .7;
    font-size: 12px;
    line-height: 18px;
}

.iconTextCon_mobile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    /* height: 35px; */
}

.iconIcon_mobile {
    color: #6200EE;
}

.iconsText_mobile {
    font-size: 10px;
    font-weight: 400;
    max-width: 100px;
    min-width: 80px;
    overflow-wrap: break-word;
}

.firstCell_mobile {}

.firstCellFooter_mobile {
    font-size: 10px;
    font-weight: 400;
    display: flex;
    opacity: .6;
}

.forMobile tbody tr td {
    border-bottom: 1px solid rgb(215, 215, 215);
    padding: 8px 0px;
}

@media screen and (max-width: 1350px) {
    .imageCon img {
        width: 200px !important;
        height: 180px !important;
    }
}

@media screen and (max-width: 1200px) {
    .imageCon img {
        width: 180px !important;
        height: 160px !important;
    }

    .containerListing {
        width: 80%;
        overflow-x: auto;
    }
}


@media screen and (max-width: 1000px) {

    /* .headSec {
        flex-direction: column;
        border: 1px solid green;
    } */
    .imageCon {
        width: 50%;
    }

    .imageCon img {
        width: 100% !important;
        height: auto;
    }

    .textCon {
        width: 50%;
    }

    .contactShadow {
        display: none;
    }
}

@media screen and (max-width: 650px) {

    .container {
        padding: 10px;
    }

    .headSec {
        /* flex-direction: column; */
        /* border: 1px solid green; */
        align-items: flex-start;
    }

    .imageCon {
        width: 20%;
        /* border: 1px solid red; */
    }

    .imageCon img {
        width: 100% !important;
        height: auto !important;
    }

    .topText {
        font-size: 14px;
    }

    .textCon {
        margin-top: 0px;
        width: 80%;
        min-height: 30px;
    }

    .iconsText {
        font-size: 10px;
        font-weight: 300;
    }

    .iconIcon {
        width: 16px !important;
    }


    .containerListing.forDesktop {
        display: none;
    }

    .forMobile {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }




    .containerListing table tbody tr td {
        /* min-width: 110px; */
        text-wrap: nowrap;
        padding: 2px 2px;
    }
}