.layoutContainer {
    min-height: 100vh;
    /* border: 1px solid purple; */
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.layoutContainer .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}


.layoutContainer .layoutMain {
    display: flex;
    flex-direction: row;
    padding: 50px;
    /* border: 1px solid orange; */
}

.layoutContainer .layoutMain .pageTitle {
    font-size: 22px;
}

.layoutContainer .layoutMain .layoutLeftSection {
    width: 75%;
    /* border: 1px solid blue; */
    padding: 10px;
}

.layoutContainer .layoutMain .layoutRightSection {
    width: 25%;
    /* border: 1px solid green; */
    padding: 50px 10px 10px 10px;
}