.container {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemContainer {
    text-align: center;
}
.title {
    font-weight: 600;
    color: #000;
}
.desc {
    font-weight: 600;
    color: #00000078;
}