.snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 20px;
    color: gray;
    text-align: center;
    border-radius: 2px;
    padding: 8px 16px;
    position: fixed;
    z-index: 2000;
    left: 50%;
    top: 80px;
    font-size: 1rem;
}

.snackbar.success {
    border: 1px solid rgb(0, 213, 0);
    color: rgb(0, 197, 0);
    -webkit-box-shadow: 2px 3px 64px -6px rgba(0, 255, 30, 0.35);
    -moz-box-shadow: 2px 3px 64px -6px rgba(0, 255, 30, 0.35);
    box-shadow: 2px 3px 64px -6px rgba(0, 255, 30, 0.35);
}

.snackbar.danger {
    border: 1px solid red;
    color: red;
}

.snackbar.fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}

.snackbar.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms
}