.container {
    width: 100%;
    border: 1px solid red;
    margin-top: 20px;
}

.ant-tabs-top  {
    /* border: 1px solid red !important;
    padding: 0px 20px 0px 20px !important; */
    background-color: yellowgreen;
}