.container {
    width: 48%;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 30px 15px;
    border-radius: 20px;
    margin-top: 20px;
}

.firstRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
.secondRow {
    width: 100%;
    margin-top: 25px;
    font-size: 13px;
    font-weight: 400;
    color: #777777;
    height: 100px;
    overflow-y: hidden;
    padding-right: 10%;
    padding-bottom: 10px;
    border: 1px solid rgb(255, 255, 255);
}
.scrollable {
    overflow-y: scroll;
    border: 1px solid rgb(234, 234, 234);
}

.thirdRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    width: 200px;
    
}
.thirdRow:hover {
    cursor: pointer;
}

.iconContainer {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFE6FD;
}
.firstRow .title {
    font-size: 14px;
    font-weight: 600;
}

.thirdRow .title {
    font-size: 13px;
    font-weight: 500;
    color: #6200EE;
}

.modalContainer {
    
}

.headSec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.editorText {
    max-height: 500px;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #545454;
    margin-top: 10px;
}

.editorText::-webkit-scrollbar {
    width: 2px;
}

.editorText::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.editorText::-webkit-scrollbar-thumb {
    background-color: #6200EE;
}
