.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffffff;
}

.imageCon {
    width: 40%;
}

.textCon {
    width: 60%;
    padding: 6% 5% 3% 3%;
}

.title {
    font-size: 28px;
    font-weight: 600;
}
.desc {
    font-size: 14px;
    font-weight: 400;
    color: #404040;
    opacity: .7;
    padding-top: 15px;
}
.hrLine {
    width: 100%;
    border-bottom: 1px solid #DFDFDF;
    margin-top: 16px;
}
.detail {
    font-size: 14px;
    font-weight: 400;
    color: #404040;
    opacity: .7;
    margin-top: 12px;
}