.navContainer {
    height: 100%;
    width: 100%;
}
.navContainer .leftSection {}
.navContainer .rightSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navContainer .leftSection .logoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navContainer .leftSection .logoContainer span {
    margin-left: 5px;
    font-size: 22px;
    font-weight: bold;
}
.navContainer .leftSection .logoContainer .icon {
    margin-top: -8px;
}

.navContainer .rightSection .icon {
    margin-right: 15px;
}