.ESContainer {
    width: 100%;
    background-color: #FFFFFF;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
}

.imgCon {
    width: 22%;
}

.imgCon img {
    border-radius: 5px;
}

.textCon {
    width: 78%;
    padding: 5px 5px 5px 0px;
}

.topTextCon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 16px;
    font-weight: 600;
}

.price {
    font-size: 16px;
    font-weight: 600;
}

.desc {
    width: 80%;
    font-size: 14px;
    opacity: .7;
    line-height: 20px;
    margin-top: 5px;
}

.btnCon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
}

.incrementBtns {
    display: flex;
}

.dicrementBtn {
    width: 30px !important;
    height: 30px !important;
    background-color: #F5F5F5 !important;
    display: grid;
    place-content: center;
    font-size: 14px;
}

.dicrementBtn:hover {
    cursor: pointer;
}

.incrementBtn {
    width: 30px !important;
    height: 30px !important;
    background-color: #F5F5F5 !important;
    display: grid;
    place-content: center;
    font-size: 14px;
}

.incrementBtn:hover {
    cursor: pointer;
}

.count {
    width: 30px !important;
    height: 30px !important;
    background-color: #F5F5F5;
    display: grid;
    place-content: center;
    font-size: 14px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.addToCartBtn {
    font-size: 12px !important;
    padding: 1px 30px 1px 30px !important;
    margin-left: 5%;
    height: 27px !important;
}