.ROSCarouselContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background: rgba(19, 19, 19, 0.371);
    transition: all .4s;
    z-index: 1000;
    
}

.ROSCarouselContainer.visible {
    visibility: visible;
    opacity: 1;
}

.ROSCarouselContainer.hidden {
    visibility: hidden;
    opacity: 0;
}

.carouselContentContainer {
    position: relative;
    min-height: 98vh;
    min-width: 100vw;
}



.closeIcon {
    opacity: .5;
}

.closeIcon:hover {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    /* padding: 20px; */
}

.itemCoun {
    font-size: 22px;
    font-weight: 500;
    color: #ffffffb6;
}

.CMContainer {
    height: 90vh;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
}

.CMleft {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.CMright {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.CMimageSection {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 80px 10px;
}

.CMimageSection .image {
    border-radius: 10px;
    max-height: 100%;
}

.CMimageSection .imageVisible {
    opacity: 1;
    visibility: visible;
    transition: all 2s
}

.CMimageSection .imageHidden {
    opacity: 0;
    display: none;
    visibility: hidden;
}

.arrowContainer {
    width: 50px;
    height: 50px;
    background-color: #ffffffb6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.arrowContainer:hover {
    cursor: pointer;
}