.container {}

.secondcontainer {
  margin-top: 10px;
}
.title {
  font-size: 14px;
  font-weight: 600;
}
/* .loadin {
  margin-right: 50%;
}
.button {
  margin-left: 75%;
  margin-bottom: 40px;
} */
.save {
  background-color: blueviolet;
  color: white;
  /* text color */
  border: none;
}
.lastSaved {
  color: grey;
  font-size: 12px;
  font-style: italic;
  /* margin-top: 2px; */
}

.loadDatePicker {
  width: 65% !important;
}

@media screen and (max-width: 650px) {

  .loadDatePicker {
    width: 100% !important;
  }

  .secondcontainer {
    /* border: 1px solid red; */
  }

}