.ROSContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
    z-index: 1000;
}

.visible {
    visibility: visible;
    opacity: 1;
}
.hidden {
    visibility: hidden;
    opacity: 0;
}

.contentContainer {
    position: fixed;
    padding: 20px;
    min-height: 200px;
    width: 40%;
    border-radius: 20px;
    background-color: white;
}
.closeIcon {
    opacity: .5;
}
.closeIcon:hover {
    cursor: pointer;
}
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* padding: 20px; */
}

@media screen and (max-width: 1200px) { 
    .contentContainer {
        width: 50%;
    }
 }

@media screen and (max-width: 1000px) { 
    .contentContainer {
        width: 70%;
    }
 }

@media screen and (max-width: 650px) { 
    .contentContainer {
        width: 90%;
    }
 }