.contentContainer {}

.mainSec {}
.footerSec {}


.title {
    font-size: 16px;
    font-weight: 500;
    color: #000000c4;
}
.desc {
    font-size: 12px;
    font-weight: 400;
    color: #848484;
    padding: 10px 20px 0px 0px;
    min-height: 70px;
}

.btnCon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10px 10px 0px;
    gap: 15px;
}

.btnCon:nth-child(1) {
    /* width: 90px; */
}
/* .btnCon:nth-child(2) {
    width: 70px;
} */