.editorWrapper {
    width: 100%;
    background: #fff;
}

.editorContainer {
    width: 100%;
    border: 1px solid #fff;
    padding: 10px;
    color: black;
}

.toolbarGrid {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 1fr 1fr;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.19);
}

/* button {
    margin-right: 8px;
    font-size: 1rem;
    padding: 10px;
    border: none;
    background: #fff;
    cursor: pointer;
} */

.superFancyBlockquote {
    color: #999;
    background: #fff;
    font-family: "Hoefler Text", Georgia, serif;
    font-style: italic;
    border-left: 2px solid #999;
    padding-left: 10px;
}

.codeBlock {
    font-family: fira-code, monospace;
    font-size: inherit;
    background: #ffeff0;
    font-style: italic;
    word-wrap: normal;
    word-wrap: break-word;
    box-decoration-break: slice;
    padding: 0.3rem 2rem;
    border-radius: 0.2rem;
}

.leftAlign {
    text-align: left;
}

.rightAlign {
    text-align: right;
}

.centerAlign {
    text-align: center;
}

.justifyAlign {
    text-align: justify;
}